<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
        <ion-menu-button menu="mainMenu"></ion-menu-button>
   </ion-buttons>  
  </ion-toolbar> 
</ion-header>

<ion-content [fullscreen]="true"> 

   
  <ion-card>


    <ion-card-content>

    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input type="text" [(ngModel)]="apellido"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">usuario</ion-label>
      <ion-input type="text" [(ngModel)]="usuario"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label>Genero</ion-label>
      <ion-select [(ngModel)]="selectedOption">
        <ion-select-option value="option1">Hombre</ion-select-option>
        <ion-select-option value="option2">Mujer</ion-select-option>
        <ion-select-option value="option3">Sin Definir</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Fecha Nacimiento</ion-label>
      <ion-item>  

         <!-- Componente de Angular Material -->
         <mat-form-field>
          <mat-label>Fecha Nacimiento</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate">  
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker> 
        </mat-form-field>
        

      </ion-item>
    </ion-item>

    </ion-card-content>

      <ion-button (click)="guardar()" >Guardar Datos</ion-button> 

  </ion-card>
 
</ion-content>